.App-header{
  height: 25vh;
  background-color: purple;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  // align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
};
.headerText{
  text-align: center;
}
.nav{
  justify-content: left;
  display:inline;
  list-style-type: none;
  padding-left: 6vh;
  text-decoration: none;
  color:white;
  font-weight: bold;
}

.here{
  text-decoration: none;
  color:green;
  
}
